.button {
  background-color: var(--brand);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 30px;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.button:hover {
  opacity: 0.9;
}
.button:active {
  opacity: 0.5;
}

.outlined {
  background-color: transparent;
  border: 1px solid var(--brand);
  color: var(--brand);
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.outlined:hover {
  background-color: var(--brand);
  color: white;
}

.outlined:active {
  background-color: var(--brand);
  color: white;
  opacity: 0.5;
}
